body{
    /* background: radial-gradient(98.26% 251.56% at 13.33% 18.61%, #343131 0%, #1D1919 100%) warning: gradient uses a rotation that is not supported by CSS and may not behave as expected; */
    background: #343131;
}

li{
    list-style: none;
}
.ltext{
    
    font-family: 'Catamaran';
font-style: normal;
font-weight: 800;
font-size: 34.05px;
line-height: 56px;
}
.menu{
    /* background-color: #FFFFFF; */
    /* width: 100vw; */
}

.blight{
    /* background: #343131; */
}
.mxh{
    /* height: 100vh; */
    width: 8vw;
}
ul{
    font-family: 'Catamaran';
font-style: normal;
font-weight: 400;
margin-right: 50px;
/* font-size: 17.025px; */
}

.nr{
    font-family: 'Catamaran';
font-style: normal;
font-weight: 600;
font-size: 34.05px;
line-height: 47.5px;
}
.name1{
    font-family: 'Catamaran';
font-style: normal;
font-weight: 300;
font-size: 22.7px;
line-height: 139.5%;
}

.ads{
    font-family: 'Catamaran';
font-style: normal;
font-weight: 200;
font-size: 22.7px;
line-height: 31.67px;
}


.lt{
    opacity: 18%;
}
.bd{
    border: 0.95px solid;

}
.bf p{
    margin-top: 20px;
}

.bnav{
    border: 2px solid ;
}
.ltn{
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 400;
}

.home{
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 800;
}
.d3{
    font-family: 'Caudex';
font-style: normal;
font-weight: 700;
font-size: 45.4px;
/* color: #FB258B; */
text-shadow: 2px 2px #FB258B;
}
.d33{
    /* color: #5025FB; */
    text-shadow: 4px 3px #5025FB;
}
.h33{
    font-family: 'Caudex';
font-style: normal;
font-weight: 700;
font-size: 	2.8125rem;
}

p{
    font-family: 'Catamaran';
font-style: normal;
font-weight: 500;
opacity: .5;
font-size: 1.25rem;
letter-spacing: .05rem;
}

.btnss{
    font-family: 'Orbitron';
font-style: normal;
font-weight: 700;
font-size: 1.2rem;
}

.bs{
    box-shadow: 51px 10px #5025FB;
}

.ftext h1   {
    font-family: 'Caudex';
    font-style: normal;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 29px;
}

.ftext h2{
    font-family: 'Orbitron';
font-style: normal;
font-weight: 700;
font-size: 1.1rem;
line-height: 21px;
letter-spacing: 0.05em;
}